<div style="width: 300px; height: auto;">
        <h2>Cart</h2>
        <div  class="row" style="background-color:cornsilk; height: auto;width: 100%;" *ngFor="let item of cartItem">
                <div class="col-md-4">{{item.name}}</div>
                <div class="col-md-4">{{item.customized_options}}</div>
                <div class="col-md-4">{{item.customized_price}}</div>
        </div>
        <div class="row">
                <div class="col-md-7"><h4>Subtotal</h4></div>
                <div class="col-md-5" style="margin-top: 5px;"><span style="margin-left: 7px;">{{subtotalPrice}}</span></div>
        </div>
        <div><button mat-stroked-button color="accent" style="width: 100%;">Checkout</button></div>
</div>