
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:white;
  padding: 2px;
  width: 100%;
  height: auto;
}


.flex-container > mat-card {
  background-color:white;
  margin: 10px;
  width: 250px;
  height: auto;
  padding: 20px;
  font-size: 30px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  
